<%= render "shared/header" %>
<div class="container">
	<div class="row">
		<div class="span9">
			<div class="subnav subnav-fixed">
				<ul class="nav nav-pills">
					<li class="dropdown active">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Hottest Specials<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="">
								<a href="#buttonGroups">Newest Special</a>
							</li>
							<li class="active">
								<a href="#buttonDropdowns">Button dropdowns</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Newest Specials<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="">
								<a href="#navs">Nav, tabs, pills</a>
							</li>
							<li class="">
								<a href="#navbar">Navbar</a>
							</li>
							<li>
								<a href="#breadcrumbs">Breadcrumbs</a>
							</li>
							<li>
								<a href="#pagination">Pagination</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#labels">Restaurants</a>
					</li>
					<li>
						<a href="#thumbnails">Auto</a>
					</li>
					<li>
						<a href="#alerts">Beauty</a>
					</li>
					<li>
						<a href="#progress">Travel & Leisure</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">More<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="">
								<a href="#navs">Nav, tabs, pills</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="span3">
					<div class="well">
						1
					</div>
				</div>
				<div class="span3">
					<div class="well">
						1
					</div>
				</div>
				<div class="span3">
					<div class="well">
						1
					</div>
				</div>
		</div>
	</div>
	<div class="span3">
		<div class="well"><h1>Welcome to LocalPlz!</h1>
			<h3>Join now! Signup takes less than 30 seconds.</h3>
			<p class="first">Discover the best specials going on in your area</p></div>
	</div>
</div>
</div> 