<%= render "shared/header_admin" %>
<div class="container">
	<div class="row">
	<div class="span3">
		<div class="well">
        	<a href="#">Home</a> |
        	<a href="#">Listing Information</a>
      </div>
	</div>
	<div class="span9">
		<%= @message %>
		<h1>Post Special</h1>
		<ul class="nav nav-tabs">
		  <li class="active">
		    <a href="#">Post Special</a>
		  </li>
		  <li><a href="#">Active Specials</a></li>
		  <li><a href="#">Specials History</a></li>
		  <li><a href="#">Saved Specials</a></li>
		</ul>
			<form class="form-horizontal" action="admin" method="post">
		 	<fieldset>
        
        	<div class="control-group">
            <label for="special">Special Title:</label>
            <div class="controls">
            <input class="input-xlarge" id="special" name="special[title]" size="30" type="text" />
   			</div>
   			</div>
   			
   			<div class="control-group">	
            <label for="description">Special Description:</label>
            <div class="controls">
            <textarea class="input-xxlarge" id="description" name="special[description]" rows="3"></textarea>
            </div>
            </div>

			<div class="control-group">
            <label for="terms">Special Terms:</label>
            <div class="controls">
            <textarea class="input-xxlarge" id="terms" name="special[terms]" rows="3"></textarea>
                <p class="help-block">If there are no terms, this will default to: "None, Enjoy!".</p>
            </div>
          </div>
          <!-- Scheduling Options -->
           <div class="control-group">
            <label class="control-label">Scheduling Options:</label>
              <div class="controls">
                  <label class="radio">
                    <input type="radio" checked="checked" name="options" id="repeating_box" value="1" />
                    Schedule Repeating Special
                  </label>
                  <label class="radio">
                    <input type="radio" name="options" id="one_time_box" value="0" />
                    Schedule One Time Special
                  </label>
               </div>
               </div>
       		
       		<div class="control-group">	
            <label class="control-label">Repeat Every:</label>
                  <div class="controls">
                  	<label class="checkbox">
                    <input type="checkbox" name="repeat" value="1" />
                    <span>Monday</span>
                  </label>

                    <label class="checkbox">
                    <input type="checkbox" name="repeat" value="2" />
                    <span>Tuesday</span>
                  </label>
                
                    <label class="checkbox">
                    <input type="checkbox" name="repeat" value="3" />
                    <span>Wednsday</span>
                  </label>

                    <label class="checkbox">
                    <input type="checkbox" name="repeat" value="4" />
                    <span>Thursday</span>
                  </label>

                    <label class="checkbox">
                    <input type="checkbox" name="repeat" value="5" />
                    <span>Friday</span>
                  </label>

                    <label class="checkbox">
                    <input type="checkbox" name="repeat" value="6" />
                    <span>Saturday</span>
                  </label>

                  <label class="checkbox">
                    <input type="checkbox" name="repeat" value="7" />
                    <span>Sunday</span>
                  </label>
                <p class="help-block">WARNING! These specials will repeat indefinatly unless canceled under the "Active Specials" tab.</p>
             	</div>
             	</div>
             
             <div class="control-group">
             <label for="xlInput3">First Day:</label>
             <div class="controls">
              <input class="xlarge span3" id="from" name="xlInput3" size="30" type="text" />
             </div>
              </div>
              
            <div class="control-group">  
            <label for="xlInput3">Last Day:</label>
            <div class="controls">
              <input class="xlarge span3" id="to" name="xlInput3" size="30" type="text" />
              </div>
             </div>
             <div class="form-actions">
            <button type="submit" class="btn btn-large btn-primary">Submit Special</button>&nbsp;<button type="reset" class="btn btn-large">Save Special</button>
        	</div>
        </fieldset>
    </form>
</div>