// Place all the styles related to the Front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 48px;
  background-color: #EFEFEF;
}
.navbar-inner {
  background-image: none;
  background-color: white;
  box-shadow: none;
  box-shadow: 1px 1px 4px #ccc;
}

.span8 {
  
}

.well {
  background-color: white;
}

h2 {
  font-size: 30px;
  font-family: 'Kaushan Script', cursive;
}

.input-prepend {
  margin-top: 5px;
  margin-bottom: 0px;
}
